<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index","Home")" class="logo">
            <img src="@Url.Content("~/Images/varasha_logo.jpg")" height="45" width="150">
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
     

      
    </nav>
</header>
