<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>মূলপাতা</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-money"></i> <span>খরচাপাতি</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Loan")">
                    <i class="fa fa-hand-grab-o"></i> <span>ঋণ</span>
                </a>
            </li> 
            <li>
                <a href="#">
                    <i class="fa fa-edit"></i> <span>কিস্তি</span>
                </a>
            </li>  
            <li>
                <a href="@Url.Action("Index","Group")">
                    <i class="fa fa-umbrella"></i> <span>দল</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Member")">
                    <i class="fa fa-users"></i> <span>সদস্য</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
